/*
	Bir Uğur KILCI ürünüdür.
	
	
	    ####
	
	# # #### # # ###     # # # #   ### #
	# # #    # # # #     ##  # #   #   #
	# # #  # # # ##      # # # #   #   #
	### #### ### # #     # # # ### ### #
	
	www.ugurklc.blogspot.com
	www.youtube.com/dusunenadamugur
	www.facebook.com/dusunuveringari
	www.twitter.com/ugur2nd
	www.linkedin.com/ugur2nd
*/body {font-family:Times New Roman;background-attachment: fixed;background: #ad2d22;font-size: 15px;margin:0;}a:link, a:visited {color: #000;text-decoration: none;text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.0);}a:hover, a:active {color: #999;text-decoration: underline;}.text {margin: 25px auto;width: 500px;padding: 4px 4px;}.orta {margin: 200px auto;}.btn {padding: 4px 4px;}button{cursor:pointer;}.str1 {background-color: #fff;}